body {
    background-color: rgb(77, 14, 109);
    align-content: center;
}

.container p {
    margin: auto;
}

header {
    color: white;
    text-align: center;
}

section {
    width: 75%;
    max-width: 500px;
    min-width: 150px;
    height: 70%;
    max-height: 500px;
    min-height: 200px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
    border-radius: 10px;

    
}

.terminal {
    margin: 10px 10px;
    border: 1px solid;
    min-height: 150px;
    max-height: 400px;
    overflow:scroll;
}
